.Weatherbg{
background-image: url(./assets/WeatherBg.jpg);
width: 100vw;
min-height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}
.Container{
backdrop-filter: blur(20px);
width: 700px;
padding: 10px;
margin: 30px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Loginbg{
    background-image: url(./assets/Loginbg.jpg);
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginContainer{
    background-color: white;
    width: 90%;
    height: 90vh;
}